body
{
  background-color: #FFF;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

p
{
  font-size: 16px;
}

button
{
  background-color: #00d4e1;
  border: none;
  border-radius: 10px;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  transition: all .3s;
}

button:hover
{
  transform: scale(1.05, 1.05);
  box-shadow: 5px 5px rgba(0,0,0,.3);
  cursor: pointer;
}

#varWrapper
{
  border: 2px solid #555;
  padding: 10px;
  border-radius: 10px;
  width: 30%;
  margin: 10px;
  margin-left: 35%;
  position:fixed;
  background: white;
  z-index: 5;
  opacity: 0;
  top: -1000px;
}

@keyframes loading
{
  from{opacity: 0;top: -1000px;}
  to{opacity: 1;top: 20%;}
}

.loading
{
  animation-name: loading;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.loaded
{
  opacity: 1 !important;
  top: 20% !important;
}

.unloading
{
  animation-name: loading;
  animation-duration: .9s;
  animation-direction: reverse;
}

#variables
{
  width: 50%;
  margin-left: 30%;
}

.link
{
  stroke: #999;
  stroke-opacity: .6;
  stroke-width: 1px;
}

.card {
  margin: 2rem;
  min-height: 20rem;
}

.graphButton
{
  height:90%;
  width:100%;
  border:none;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #caffbf;
}

.graphButton:disabled
{
  background-color: #ffadad;
  cursor: not-allowed;
}


@media screen and (min-width: 300px) {
  .card {
    flex: 1 1 calc(90% - 2rem);
  }
}

@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(40% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(23% - 2rem);
  }
}

#inputContainer
{
  position:relative;
  color: white;
  background-color: #00d4e1;
  border-radius: 10px;
  width: 15%;
  margin-right: auto;
  margin-left: auto;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: all .3s;
  margin-bottom: 10px;
}

#inputContainer:hover
{
  transform: scale(1.05, 1.05);
  box-shadow: 5px 5px rgba(0,0,0,.3);
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.hiddenInput {
    position: absolute;
    z-index: 100;
    opacity: 0;
    cursor: pointer;
    right: 0;
    top: 0;
    height: 100%;
    font-size: 24px;
    width: 100%;
}

/* Customize the label (the container) */
.checkLabel {
 display: block;
 position: relative;
 padding-left: 23px;
 font-size: 16px;
 user-select: none;
 width: 100px;
 padding-right: 10px;
}

/* Hide the browser's default checkbox */
.checkLabel input {
 position: absolute;
 opacity: 0;
 cursor: pointer;
 height: 0;
 width: 0;
}

/* Create a custom checkbox */
.checkSpan {
 position: absolute;
 top: 0;
 left: 0;
 height: 18px;
 width: 18px;
 background-color: #bbb;
}

/* On mouse-over, add a grey background color */
.checkLabel:hover input ~ .checkSpan {
 background-color: #aaa;
}

/* When the checkbox is checked, add a blue background */
.checkLabel input:checked ~ .checkSpan {
 background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkSpan:after {
 content: "";
 position: absolute;
 display: none;
}

/* Show the checkmark when checked */
.checkLabel input:checked ~ .checkSpan:after {
 display: block;
}

/* Style the checkmark/indicator */
.checkLabel .checkSpan:after {
 left: 6px;
 top: 3px;
 width: 3px;
 height: 8px;
 border: solid white;
 border-width: 0 3px 3px 0;
 -webkit-transform: rotate(45deg);
 -ms-transform: rotate(45deg);
 transform: rotate(45deg);
}

#legend
{
  width: 200px;
  float:left;
}

#graphArea
{
  float: left;
}

#wrapper
{
  display:flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 99.9%;
  height: 99.9%;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 5%;
  background-color: #FFF;
  visibility: hidden;
}

#close
{
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0);
  width: 50px;
  height: 50px;
  background-image: url("graph_images/close.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0px;
  cursor: pointer;
}

#close:hover
{
  background-image: url("graph_images/close_hover.png");
  background-size: contain;
}

#graphTitle
{
  border: none;
  position: absolute;
  top: 5%;
  font-size: 40px;
  text-align: center;
  width: 50%;
}

#graphTitle:focus
{
  border-bottom: solid 2px black !important;
  outline: none;
}

#graphTitle:hover
{
  border-bottom: solid 2px lightgrey;
  outline:none;
}

#graphButtons
{
  display:flex;
  flex-wrap:wrap;
}

.tooltip
{
  position: fixed;
}
