body
{
  background-color: #DDD;
  font-family: 'helvetica';
  text-align: center;
}

p
{
  font-size: 16px;
}

button
{
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #333;
  color: #333;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover
{
  background-color: rgba(0,0,0,.5);
  cursor: pointer;
}

button:disabled
{
  background-color: rgba(0,0,0,.5);
  color: #333;
  border: 2px solid #111;
  cursor: not-allowed;
}

#varWrapper
{
  border: 2px solid #555;
  padding: 10px;
  border-radius: 10px;
  width: 30%;
  margin: 10px;
  margin-left: 35%;
}

#variables
{
  width: 50%;
  margin-left: 30%;
}

/* Customize the label (the container) */
.checkLabel {
 display: block;
 position: relative;
 padding-left: 23px;
 cursor: pointer;
 font-size: 16px;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 width: 100px;
}

/* Hide the browser's default checkbox */
.checkLabel input {
 position: absolute;
 opacity: 0;
 cursor: pointer;
 height: 0;
 width: 0;
}

/* Create a custom checkbox */
.checkSpan {
 position: absolute;
 top: 0;
 left: 0;
 height: 16px;
 width: 16px;
 background-color: #bbb;
}

/* On mouse-over, add a grey background color */
.checkLabel:hover input ~ .checkSpan {
 background-color: #aaa;
}

/* When the checkbox is checked, add a blue background */
.checkLabel input:checked ~ .checkSpan {
 background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkSpan:after {
 content: "";
 position: absolute;
 display: none;
}

/* Show the checkmark when checked */
.checkLabel input:checked ~ .checkSpan:after {
 display: block;
}

/* Style the checkmark/indicator */
.checkLabel .checkSpan:after {
 left: 5px;
 top: 2px;
 width: 3px;
 height: 8px;
 border: solid white;
 border-width: 0 3px 3px 0;
 -webkit-transform: rotate(45deg);
 -ms-transform: rotate(45deg);
 transform: rotate(45deg);
}

#legend
{
  width: 200px;
  float:left;
}

#graphArea
{
  float: left;
}

#wrapper
{
  display:flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 99%;
  height: 80%;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 5%;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #FFF;
  visibility: hidden;
}

#graphButtons
{
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
}

.tooltip
{
  position: fixed;
}
